body {
  background-color: gray;
}
.box {
  min-height: 50px;
  padding: 20px;
  margin: 20px;
  font-weight: 400;
  color: black
}

.skyblue {
  background: deepskyblue;
}

.purple {
  background: rebeccapurple;
}

.red {
  background: indianred;
}
.white{
	background: white;
    width: auto;
}
img {
    width: 35%;
    float: left;
}

.img_1{
    width: 50%;
/*    float: center;*/
}
.img_2{
    width: 80%;
/*    float: center;*/
}
.divider {
  display: flex;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}

h2 {
    font-weight: bold;
    color: darkslateblue;
    font-size: 50px;
}
h3 {
    font-weight: bold;
    color: darkslateblue;
    font-size: 30px;
}
h4 {
    font-weight: bold;
    font-size: 20px;
    color: blueviolet;
    align-content: center;
}

p{
    max-width: 600px;
    margin-left: 40px;
}

